name: 2cc CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential binutils-aarch64-linux-gnu gcc-aarch64-linux-gnu

    - name: Run tests
      run: make -C 2cc test CC=aarch64-linux-gnu-gcc
